@model AdminEditViewModel
@{
    ViewData["Title"] = "Karta Ewidencyjna przyrządu pomiarowego";
    //ViewBag.Title = "Karta Ewidencyjna przyrządu pomiarowego";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="DeviceId" />
    <div class=" row">
        <div class="border col-md-12">
            <div class="form-group ">
                <label asp-for="RegistrationNo">Numer kalibracji</label>
                <input asp-for="RegistrationNo" value="@String.Format("{0:D5}",Model.RegistrationNo)" class="form-control" readonly />
                <div><span asp-validation-for="RegistrationNo" class="text-danger"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  border">
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="DeviceName">Nazwa przyrządu</label>
                    <input asp-for="DeviceName" class="form-control" readonly />
                    <div><span asp-validation-for="DeviceName" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ProducerName">Producent</label>
                    <input asp-for="ProducerName" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TypeId">Typ urządzenia</label>
                    <div class="btn-group btn-block">
                        <select class="form-control" asp-for="TypeId" asp-items="Model.TypeListVm">
                            <option disabled selected value="">Wybierz typ</option>
                        </select>
                        <a asp-controller="Type" asp-action="Create" class="btn btn-secondary">Dodaj</a>
                    </div>
                    <div><span asp-validation-for="TypeId" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SerialNo">Numer seryjny</label>
                    <input asp-for="SerialNo" class="form-control" />
                    <div><span asp-validation-for="SerialNo" class="text-danger"></span></div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="InventoryNo">Numer inwentarzowy</label>
                    <input asp-for="InventoryNo" class="form-control" />
                    <div><span asp-validation-for="InventoryNo" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ProductionDate">Data produkcji</label>
                    <div><span asp-validation-for="ProductionDate" class="text-danger"></span></div>
                    <div class="input-group date dtp" id="dtp1" data-target-input="nearest">
                        <input asp-for="ProductionDate" type="text" class="form-control datetimepicker-input" data-target="#dtp1" />
                        <div class="input-group-append" data-target="#dtp1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CurrentlyInUse">W użytkowaniu</label>
                    <input asp-for="CurrentlyInUse" class="form-control" />
                    <div><span asp-validation-for="CurrentlyInUse" class="text-danger"></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 border">
            <div class="img-max mx-auto p-2">
                <img class="img-fluid mx-auto d-block" src="@Model.ImageStr" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 border">
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="VerificationName">Rodzaj weryfikacji</label>
                    <input asp-for="VerificationName" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="VerificationDate">Data weryfikacji</label>
                    <div><span asp-validation-for="VerificationDate" class="text-danger"></span></div>
                    <div class="input-group date dtp ver" id="dtp3" data-target-input="nearest">
                        <input asp-for="VerificationDate" type="text" class="form-control datetimepicker-input" data-target="#dtp3" />
                        <div id="dupa" class="input-group-append" data-target="#dtp3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TimeToVerification">Czas kolejnej weryfikacji</label>
                    <div><span asp-validation-for="TimeToVerification" class="text-danger"></span></div>
                    <div class="input-group date dtp" id="dtp2" data-target-input="nearest">
                        <input asp-for="TimeToVerification" type="text" class="form-control datetimepicker-input" data-target="#dtp2" readonly />
                        <div class="input-group-append" data-target="#dtp2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Future">Future field</label>
                    <input id="Future" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label for="EngName">Osoba wprowadzająca</label>
                    <input id="EngName" class="form-control" value="@ViewBag.userName" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="VerificationResult">Wynik weryfikacji</label>
                    <input asp-for="VerificationResult" class="form-control" />
                    <div><span asp-validation-for="VerificationResult" class="text-danger"></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PlaceId">Miejsce użytkowania</label>
                    <div class="btn-group btn-block">
                        <select class="form-control" asp-for="PlaceId" asp-items="Model.PlaceListVm">
                            <option disabled selected value="">Wybierz miejsce</option>
                        </select>
                        <a asp-controller="Place" asp-action="Create" class="btn btn-secondary">Dodaj</a>
                    </div>
                    <div><span asp-validation-for="PlaceId" class="text-danger"></span></div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentName">Dział</label>
                    <input asp-for="DepartmentName" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="UserId">Osoba odpowiedzialna</label>
                    <div class="btn-group btn-block">
                        <select class="form-control" asp-for="UserId" asp-items="Model.UserListVm">
                            <option disabled selected value="">Wybierz osobę</option>
                        </select>
                        <a asp-controller="Admin" asp-action="UsersCreate" class="btn btn-secondary">Dodaj</a>
                    </div>
                    <div><span asp-validation-for="UserId" class="text-danger"></span></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="Future">Future field</label>
                    <input id="Future" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="border col-md-12">
            <div class="form-group">
                <label asp-for="DeviceDesc">Opis</label>
                <div><span asp-validation-for="DeviceDesc" class="text-danger"></span></div>
                <input asp-for="DeviceDesc" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <span style="float:left;">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </span>
</form>

<form asp-action="Delete" method="post">
    <span style="float:left; margin-left:4px">
        <input type="hidden" asp-for="DeviceId" />
        <button type="submit" class="btn btn-danger">Usuń</button>
    </span>
</form>





