@model IEnumerable<Device>
@{
    ViewBag.Title = "Lista sprzętu pomiarowego";
    Layout = "_AdminLayout";

}

<table id="dt_device" class="table table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>Id urządzenia</th>
            <th>Nr kalibracji</th>
            <th>Nr inwentarzowy</th>
            <th>Nr seryjny</th>
            <th>Data weryfikacji</th>
            <th>Data następnej</th>
            <th>Wynik weryfikacji</th>
            <th>Data produkcji</th>
            <th>Opis</th>
            <th>Nazwa urządzenia</th>
            <th>Typ</th>

            <th>Edycja</th>
        </tr>
    </thead>

</table>
<br />

<div class="text-right">
    <a asp-action="Create" class="btn btn-primary">Dodaj urządzenie</a>
</div>

