@model IEnumerable<Measuring_equipment.Models.Verification>

@{
    ViewData["Title"] = "Rodzaje weryfikacji";
    Layout = "_AdminLayout";
}

<table class="table table-bordered table-hover" id="dt_rest" width="100%">
    <thead>
        <tr>
            <th>
               Nazwa
            </th>
            <th>
                Opis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VerificationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerificationDesc)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.VerificationId">Edycja</a> 
            </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowy</a>
</p>