@model Measuring_equipment.Models.Producer

@{
    ViewData["Title"] = "Usuwanie producenta";
    Layout = "_AdminLayout";
}

<h3>Na pewno chcesz usunąć tą pozycję?</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProducerName)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProducerDesc)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProducerId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Anuluj</a>
    </form>
</div>
