@model IEnumerable<Measuring_equipment.Models.Producer>

@{
    ViewData["Title"] = "Producenci";
    Layout = "_AdminLayout";
}

<table class="table table-bordered table-hover" id="dt_rest" width="100%">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Edycja</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerDesc)
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.ProducerId">Edycja</a>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj producenta</a>
</p>