@model Measuring_equipment.Models.Department

@{
    ViewData["Title"] = "Edycja działu";
    Layout = "_AdminLayout";
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentId" />
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label">Nazwa</label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentDesc" class="control-label">Opis</label>
                <input asp-for="DepartmentDesc" class="form-control" />
                <span asp-validation-for="DepartmentDesc" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <span style="float:left;">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a class="btn btn-secondary" asp-controller="Department" asp-action="Index">Anuluj</a>
    </span>
</form>
<form asp-action="Delete" method="get" asp-route-id="@Model.DepartmentId">
    <span style="float:left; margin-left:4px">
        <input type="hidden" asp-for="DepartmentId" />
        <button type="submit" class="btn btn-danger">Usuń</button>
    </span>
</form>

