@model Measuring_equipment.Models.Laboratory

@{
    ViewData["Title"] = "Usuwanie laboratorium";
    Layout = "_AdminLayout";
}

<h3>Na pewno chcesz usunąć tą pozycję?</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaboratoryName)
        </dd>
        <dt>
            Akredytacja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accreditation)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaboratoryDesc)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="LaboratoryId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Anuluj</a>
    </form>
</div>
