@model Measuring_equipment.Models.Laboratory

@{
    ViewData["Title"] = "Edycja laboratorium";
    Layout = "_AdminLayout";
}


<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LaboratoryId" />
            <div class="form-group">
                <label asp-for="LaboratoryName" class="control-label">Nazwa</label>
                <input asp-for="LaboratoryName" class="form-control" />
                <span asp-validation-for="LaboratoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accreditation" class="control-label">Akredytacja</label>
                <input asp-for="Accreditation" class="form-control" />
                <span asp-validation-for="Accreditation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoryDesc" class="control-label">Opis</label>
                <input asp-for="LaboratoryDesc" class="form-control" />
                <span asp-validation-for="LaboratoryDesc" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <span style="float:left;">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a class="btn btn-secondary" asp-controller="Laboratory" asp-action="Index">Anuluj</a>
    </span>
</form>
<form asp-action="Delete" method="get" asp-route-id="@Model.LaboratoryId">
    <span style="float:left; margin-left:4px">
        <input type="hidden" asp-for="LaboratoryId" />
        <button type="submit" class="btn btn-danger">Usuń</button>
    </span>
</form>
