@model IEnumerable<Measuring_equipment.Models.Laboratory>

@{
    ViewData["Title"] = "Laboratoria";
    Layout = "_AdminLayout";
}


<table class="table table-bordered table-hover" id="dt_rest" width="100%">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Akredytacja
            </th>
            <th>
                Opis
            </th>
            <th>Edycja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LaboratoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accreditation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaboratoryDesc)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.LaboratoryId">Edycja</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj laboratorium</a>
</p>