@model Measuring_equipment.Models.Place

@{
    ViewData["Title"] = "Usuwanie miejsca";
    Layout = "_AdminLayout";
}

<h3>Na pewno chcesz usunąć tą pozycję?</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceName)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceDesc)
        </dd>
        <dt>
           Dział
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlaceId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Anuluj</a>
    </form>
</div>
