@model IEnumerable<Measuring_equipment.Models.Place>

@{
    ViewData["Title"] = "Miejsca";
    Layout = "_AdminLayout";
}

<table class="table table-bordered table-hover" id="dt_rest" width="100%">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Dział</th>
            <th>Edycja</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.PlaceId">Edycja</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj miejsce</a>
</p>